.author {
  color: grey;
  font-size: 10px;
  font-weight: 500;
  padding: none;
  margin: none;
}

.title {
  font-size: 12px;
  font-weight: 500;
  width: 50%;
}

.book-details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.book-cover {
  width: 10em;
  height: 90%;
}

.book-cover img {
  width: 100%;
  object-fit: cover;
}