.search-bar {
  width: 90%;
  font-size: 2em;
  height: 1.5em;
  border: 0;
  border-bottom: 1px solid black;
  margin-top: 1em;
}
.search-bar:focus , .search-bar:hover , .search-bar:active{
  outline: none;
}

.search-form {
  width: 90%;
  margin: auto;
  display: flex;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
  margin-top: 1em;
}
.result-img {
  flex-basis: 20%;
}

.search-form a {
  align-self: flex-end;
  margin-left: 1em;
  text-decoration: none;
  color: grey;
  transition: 200ms;
}

.search-form a:hover {
  color: black;
}